@model Mvc.Study.Beginner.PageViewModel

<div>
    <h1>@Model.Title</h1>
</div>

<div>
    @Html.Raw(Model.Html)
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.x-pagemenu li[data-pageid="@Model.Id"]').addClass('active');
    });
</script>