@model Mvc.Study.Beginner.Models.ContentPageModel

@{
	ViewBag.Title = @Model.MenuTitle;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Raw(Model.Content)
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.x-pagemenu li[data-pageid="@Model.Id"]').addClass('active');
    });
</script>