@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Header</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Row 2</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        1
    </div>
    <div class="col-md-9">
        2
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Footer</h1>
    </div>
</div>