@model Mvc.Study.Beginner.MenuModel

<ul class="nav nav-pills">

    @foreach (var page in Model.Pages)
    {
        <li><a href="@Url.RouteUrl("Page", new { pageId = page.Id })">@page.Title</a></li>
    }

</ul>