@model Mvc.Study.Beginner.MenuItemViewModel[]

<ul class="nav nav-pills x-pagemenu">
    
    @foreach (var item in Model)
    {
        <li data-pageid="@item.Id"><a href="@Url.RouteUrl("Page", new { pageName = item.Name })">@item.Title</a></li>
    }

</ul>