@model Mvc.Study.Beginner.PageCatalogViewModel

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@Model.Title</h1>
</div>

<div>
    @Html.Raw(Model.HtmlPrimary)
</div>

<p style="margin-top: 15px;">
    <i>
        @Html.Raw(Model.HtmlSecondary)
    </i>
</p>

<script type="text/javascript">
    $(document).ready(function() {
        $('.x-catalog li[data-pageid="@Model.Id"]').addClass('active');
    });
</script>