@model Mvc.Study.Beginner.CatalogItemViewModel[]

<ul class="nav nav-pills nav-stacked x-catalog">

    @foreach (var item in Model)
    {
        <li data-pageid="@item.Id"><a href="@Url.RouteUrl("Catalog", new { pageName = item.Name })">@item.Title</a></li>
    }

</ul>