@model Mvc.Study.Beginner.PageMenuViewModel

<ul class="nav nav-pills">

    @foreach (var item in Model.Items)
    {
        var cssNames = new List<string>();

        // Выбраная страница
        if (item.Id == Model.SelectedItemId)
        {
            cssNames.Add("active");
        }

        var cssClass = cssNames.Any()
                           ? string.Format("class=\"{0}\"", string.Join(" ", cssNames))
                           : string.Empty;
        
        <li @Html.Raw(cssClass)><a href="@Url.RouteUrl("Page", new { pageId = item.Id })">@item.Title</a></li>
    }

</ul>